body{
    background-color:brown;
}

.invoice-table {
    border-collapse: collapse;
    width:25em;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 10px 30px 5px rgba(0,0,0,.15);
    margin: 25px auto;
}

.invoice-table thead tr{
border-bottom: 2px dashed grey;
}

.invoice-table tfoot tr{
    border-top: 2px dashed grey;
    }

    .invoice-table thead tr td {
        font-size: 16px;
        letter-spacing: 1px;
        color:gray;
        padding: 8px;;
    }

    .invoice-table tfoot tr td {
        font-size: 18px;
        letter-spacing: 1px;
        color:green;
        padding: 8px;;
    }

    .invoice-table tbody tr td {
        
      
        padding: 8px;;
    }
    .invoice-table thead tr td:nth-last-child(1),
    .invoice-table tbody tr td:nth-last-child(1),
    .invoice-table tfoot tr td:nth-last-child(1){
        text-align: right;
    }

    .invoice-table tbody span{
        font-size: 12px;
        color:grey;
    }